<div class="flex flex-row">
    <!-- Main Content -->
    <div class="p-4 sm:ml-64 w-full">
      <div>
        <h1 class="text-3xl font-bold text-[black] mb-6">Dashboard</h1>
        <h3 class="text-xl font-semibold text-[black] mb-4">Overview</h3>
  
        <!-- Responsive Boxes -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">
          <div
            class="flex flex-col items-start justify-center h-24 rounded-lg bg-gray-50 shadow-md dark:bg-gray-800 p-4">
            <p class="text-sm text-gray-500 dark:text-gray-400">Total Sales</p>
            <h2 class="text-2xl font-bold text-black dark:text-white">43,243</h2>
          </div>
          <div
            class="flex flex-col items-start justify-center h-24 rounded-lg bg-gray-50 shadow-md dark:bg-gray-800 p-4">
            <p class="text-sm text-gray-500 dark:text-gray-400">New Orders</p>
            <h2 class="text-2xl font-bold text-black dark:text-white">43,243</h2>
          </div>
          <div
            class="flex flex-col items-start justify-center h-24 rounded-lg bg-gray-50 shadow-md dark:bg-gray-800 p-4">
            <p class="text-sm text-gray-500 dark:text-gray-400">Pending Issues</p>
            <h2 class="text-2xl font-bold text-black dark:text-white">43,243</h2>
          </div>
          <div
            class="flex flex-col items-start justify-center h-24 rounded-lg bg-gray-50 shadow-md dark:bg-gray-800 p-4">
            <p class="text-sm text-gray-500 dark:text-gray-400">Total Revenue</p>
            <h2 class="text-2xl font-bold text-black dark:text-white">43,243</h2>
          </div>
        </div>
  
  
      
      </div>
    </div>
  </div>
  
  
  
  
  
  
  